<MudText Typo="Typo.h5">@Props.Log.Exercise.Name</MudText>

<MudGrid Spacing="2" Justify="Justify.Center">
	<MudItem xs="6">
		<MudPaper Class="pa-1 ma-2" Elevation="1">
			<Image Path="@Props.Log.Exercise.ImagePath" ImageName="@Props.Log.Exercise.Name" Width="150" Height="150" />
		</MudPaper>

	</MudItem>
	<MudItem xs="6">
		<ExerciseTimerBadge IsResting="!_isRunning" Time="_timeTracker.Elapsed" RestingTemplate="Resting {0}" WorkingoutTemplate="Exercising {0}" />
		<MudNumericField Label="Weight:" @bind-Value="_weight" />
		<MudSelect Label="Units" T="string" @bind-Value="_weightUnits">
			<MudSelectItem Value="@("LB")" />
			<MudSelectItem Value="@("KG")" />
		</MudSelect>
	</MudItem>
	<MudItem xs="12">
		@if (!Props.PreviousLogLoading && Props.PreviousLog is object)
		{
			<MudAlert Severity="Severity.Info" Variant="Variant.Outlined">Previous max weight is <b>@Props.PreviousLog.WeightInLB</b> LB with <b>@Props.PreviousLog.Repetitions</b> repetitions.</MudAlert>
		}
		else if (!Props.PreviousLogLoading && Props.PreviousLog is null)
		{
			<MudAlert Severity="Severity.Info" Variant="Variant.Outlined">Looks like you haven't log this exercise before.</MudAlert>
		}
		else
		{
			<MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
			<MudText Align="Align.Center" Typo="Typo.subtitle1" Color="Color.Dark">
				Loading previous data on exercise, hang on.
			</MudText>
		}
	</MudItem>
	<MudItem xs="12">
		<div class="d-flex align-center justify-space-between mt-6">
			<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.SkipPrevious" Color="Color.Default" OnClick="() => Props.Previous.InvokeAsync(Props.PreviousExerciseId)" Disabled="@DisablePrevious" />
			<MudBadge Origin="Origin.TopRight" Overlap="true" Bordered="true" Content="@Props.SetNumber" Color="Color.Secondary">
				@if (_isRunning)
				{
					<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.Pause" Color="Color.Primary" OnClick="EndSet" />
				}
				else
				{
					<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.PlayArrow" Color="Color.Success" OnClick="StartSet" />
				}
			</MudBadge>
			<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.SkipNext" Color="Color.Default" OnClick="() => Props.Next.InvokeAsync(Props.NextExerciseId)" Disabled="@DisableNext" />
		</div>
	</MudItem>
	<MudItem xs="12">
		<MudDivider Class="my-2" />
		<ExerciseTimeline Sets="Props.Log.Sets" OnSave="EventCallback.Factory.Create(this, SaveLog)" OnDelete="EventCallback.Factory.Create<Set>(this, OnDeleteSet)" />
	</MudItem>
</MudGrid>
<MudOverlay Visible="isSavingData" DarkBackground="true">
	<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
