<MudText Typo="Typo.h5">@Props.Log.Exercise.Name</MudText>

<MudGrid Spacing="2" Justify="Justify.Center">
	<MudItem xs="6">
		<MudPaper Class="pa-1 ma-2" Elevation="1">
			<Image Path="@Props.Log.Exercise.ImagePath" ImageName="@Props.Log.Exercise.Name" Width="150" Height="150" />
		</MudPaper>
	</MudItem>
	<MudItem xs="6">
		<ExerciseTimerBadge IsResting="!_isRunning" Time="_timeTracker.Elapsed" RestingTemplate="Resting {0}" WorkingoutTemplate="Exercising {0}" />
		<MudNumericField Label="Weight:" @bind-Value="_weight" />
		<MudSelect Label="Units" T="string" @bind-Value="_weightUnits">
			<MudSelectItem Value="@("LB")" />
			<MudSelectItem Value="@("KG")" />
		</MudSelect>
	</MudItem>
	<MudItem xs="12">
		<div class="d-flex align-center justify-space-between mt-6">
			<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.SkipPrevious" Color="Color.Default" OnClick="() => Props.Previous(Props.PreviousExerciseId)" Disabled="@DisablePrevious" />
			<MudBadge Origin="Origin.TopRight" Overlap="true" Bordered="true" Content="@Props.SetNumber" Color="Color.Secondary">
				@if (_isRunning)
				{
					<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.Pause" Color="Color.Primary" OnClick="EndSet" />
				}
				else
				{
					<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.PlayArrow" Color="Color.Success" OnClick="StartSet" />
				}
			</MudBadge>
			<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.SkipNext" Color="Color.Default" OnClick="() => Props.Next(Props.NextExerciseId)" Disabled="@DisableNext" />
		</div>
	</MudItem>
</MudGrid>
@*TODO: Global overlay control via action?*@
<MudOverlay Visible="isSavingData" DarkBackground="true">
	<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>