<MudText Typo="Typo.h5">@Props.Log.Exercise.Name</MudText>

<MudGrid Spacing="2" Justify="Justify.Center">
	<MudItem xs="6">
		<img src="/images/@(Props.Log.Exercise.ImagePath)" width="150" height="150" alt="@Props.Log.Exercise.Name" style="text-align: center;box-shadow: 5px 5px 5px grey;border-radius: 5px;border-color: grey;border-width: 0.5px;border-style: solid;" />
	</MudItem>
	<MudItem xs="6">
		<ExerciseTimerBadge IsResting="!_isRunning" Time="_timeTracker.Elapsed" RestingTemplate="Resting for {0}" WorkingoutTemplate="In progress for {0}" />
		<MudNumericField Label="Weight:" @bind-Value="_weight" />
		<MudSelect Label="Units" T="string" @bind-Value="_weightUnits">
			<MudSelectItem Value="@("KG")" />
			<MudSelectItem Value="@("LB")" />
		</MudSelect>
	</MudItem>
	<MudItem xs="12">
		<div class="d-flex align-center justify-space-between mt-6">
			<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.SkipPrevious" Color="Color.Default" OnClick="() => Props.Previous.InvokeAsync(Props.PreviousExerciseId.Value)" Disabled="@DisablePrevious" />
			<MudBadge Origin="Origin.TopRight" Overlap="true" Bordered="true" Content="@Props.SetNumber" Color="Color.Secondary">
				@if (_isRunning)
				{
					<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.Pause" Color="Color.Primary" OnClick="EndSet" />
				}
				else
				{
					<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.PlayArrow" Color="Color.Success" OnClick="StartSet" />
				}
			</MudBadge>
			<MudIconButton Size="Size.Large" Icon="@Icons.Material.Filled.SkipNext" Color="Color.Default" OnClick="() => Props.Next.InvokeAsync(Props.NextExerciseId.Value)" Disabled="@DisableNext" />
		</div>
	</MudItem>
	<MudItem xs="12">
		<MudDivider Class="my-2"/>
		@if (Props.Log.Sets.Any())
		{
			@for (var setIdx = Props.Log.Sets.Count() - 1; setIdx >= 0; setIdx--)
			{
				var setNumber = setIdx + 1;
				var set = Props.Log.Sets.ElementAt(setIdx);
				<MudCard Class="mb-4">
					<MudCardHeader>
						<CardHeaderContent>
							<MudText Typo="Typo.h6">Set #@setNumber details</MudText>
						</CardHeaderContent>
					</MudCardHeader>
					<MudCardContent>
						<MudGrid Spacing="2" Justify="Justify.Center">
							<MudItem xs="6">
								<MudText Typo="Typo.body2">Weigth: <b>@set.Weight KG</b></MudText>
								<MudText Typo="Typo.body2">Repetitions: <b>@set.Repetitions</b></MudText>
							</MudItem>
							<MudItem xs="6">
								<MudText Typo="Typo.body2">Duration: <b>@set.Duration</b></MudText>
								<MudText Typo="Typo.body2">Rest time: <b>@set.RestTime</b></MudText>
							</MudItem>
							<MudItem xs="12">
								<MudText Typo="Typo.body2">@set.Note</MudText>
							</MudItem>
						</MudGrid>
					</MudCardContent>
				</MudCard>
			}
		}
		else
		{
			<div style="width:100%;text-align:center;margin-top:15px">Log a set to see results</div>
		}
	</MudItem>
</MudGrid>
<MudOverlay Visible="isSavingData" DarkBackground="true">
	<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
</MudOverlay>
